@import "../../styles";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: $white;
  height: 103px;
  width: 100%;
  padding: 32px 40px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.158);
  color: $primary;

  .nav {
    margin-left: auto;
    display: flex;
    gap: 24px;

    .nav_links {
      @media (max-width: 1279px) {
        display: none;
      }
    }
  }

  .menu {
    cursor: pointer;
    @media (min-width: 1279px) {
      display: none;
    }
  }
}
