@import "../../styles";

.container {
  display: flex;
  align-items: center;

  .langOption {
    &:first-child {
      border-right: solid 1px $header-light-txt;
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }

  span {
    cursor: pointer;
  }
}

.containerLight {
  color: $header-light-txt;
  .langOption {
    &:first-child {
      border-right-color: $header-light-txt;
    }
  }
}
.containerDark {
  color: $header-dark-txt;
  .langOption {
    &:first-child {
      border-right-color: $header-dark-txt;
    }
  }
}
