@import "../../../styles";

.container {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding: 10rem 6rem;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 4rem 2.5rem;
  }

  .title {
    white-space: nowrap;
    size: 24px;

    font-family: "Space Grotesk";
  }

  .services_details_container {
    max-width: 686px;

    .service_item {
      margin-bottom: 50px;
      h2 {
        line-height: 70px;
        font-family: "Space Grotesk";
        font-size: 64px;

        font-weight: 400;
        margin-bottom: 15px;

        @media (max-width: 767px) {
          font-size: 48px;
        }
      }
    }
  }
}

.containerLight {
  background-color: $services-light-background;
  .title {
    color: $primary;
  }

  h2 {
    color: $primary;
  }
  p {
    color: rgb(68, 58, 108);
  }
}

.containerDark {
  background-color: $services-dark-background;
  .title {
    color: $primary-Dark;
  }

  h2 {
    color: $primary-Dark;
  }
  p {
    color: $dark-txt;
  }
}
